

.favorite{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 190px;
    background-color: lightcoral;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 15px;
    border: solid 1px black;
    font-size: 10px;
}

.normal{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 400px;
    background-color: lightblue;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 15px;
    border: solid 1px black;
}

.favorite img{
    height: 110px;
    width: 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.normal img{
    height: 300px;
    width: 200px;
}